// Estilos para el header

header {
    background-color: $primary-bg-color;
    padding: 0;
    margin: 0;

    .customNavBar {
        background-color: $primary-bg-color !important;
        padding: 4px !important;

        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar-brand {
                .logoImage {
                    width: 75px;
                    height: auto;
                    border-radius: 5px;
                }
            }

            .collapse {
                .navbar-collapse {
                    ul.navbar-nav {
                        margin: 0;
                        padding: 0;
                        flex-wrap: nowrap;

                        .nav-item {
                            margin: 0 16px;

                            .nav-link {
                                background-color: $button-bg-color;
                                color: $button-text-color;
                                font-family: $font-family-base;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                                padding: 8px 16px;
                                border-radius: 8px;
                                display: inline-block;
                                box-sizing: border-box;
                                transition: background-color 0.3s ease, color 0.3s ease;

                                &:hover {
                                    background-color: $button-hover-bg-color;
                                    color: $button-hover-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}